@model IEnumerable<PMQLKSCK.Models.KhachHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Mã khách hàng</label>
        </th>
        <th>
            <label>Họ</label>
        </th>
        <th>
            <label>Tên</label>
        </th>
        <th>
            <label>Số CMT</label>
        </th>
        <th>
            <label>SĐT</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Ma_Kh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ho_Kh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ten_Kh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoCMT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SĐT)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Ma_Kh }) |
        @Html.ActionLink("Details", "Details", new { id = item.Ma_Kh }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Ma_Kh })
    </td>
</tr>
}

</table>
